<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>header</title>
  <link rel="stylesheet" th:href="@{/css/headerFooter.css}">
</head>
<body>
<div th:fragment="header">
  <header class="site-header">
  <div class="header-left"><strong>Logo</strong></div>
    <div class="header-center">
      <img src="/pictures/bildesk.PNG" alt="BilDesk logo" class="logo-image" />
    </div>
    <div class="header-right">
      <a th:href="@{index.html}" class="header-button">Menu</a>
      <a th:href="@{login.html}" class="header-button">Log Ud</a>
    </div>
  </header>
</div>
</body>
</html>