<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpretLejekontrakt</title>
  <link rel="stylesheet" th:href="@{/css/headerFooter.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!-- header insert fragment-->
<div th:insert="~{fragments/header :: header}"></div>

<!-- footer insert fragment -->
<div th:insert="~{fragments/footer :: footer}"></div>
<div class="main-container">
  <div class="sidebar">
    <a href="/lejekontrakter/vis" class="nav-button">Vis Lejekontrakter</a>
    <a href="/lejekontrakter" class="nav-button active">Opret Lejekontrakt</a>

  </div>
<div class="form-container">

  <h2>Opret ny lejekontrakt</h2>
    <form th:action="@{/lejekontrakter/opret}" th:object="${lejekontraktModel}" method="post">
      <label>Kontrakt ID: <input type="number" th:field="*{kontraktID}" required></label><br>
      <label>Kunde ID: <input type="number" th:field="*{kundeID}" required></label><br>
      <label>Bil ID: <input type="number" th:field="*{bilID}" required></label><br>
      <label>Start Dato: <input type="date" th:field="*{startDato}" required></label><br>
      <label>Slut Dato: <input type="date" th:field="*{slutDato}" required></label><br>
      <label>Pickup Sted: <input type="text" th:field="*{pickupSted}" required></label><br>
      <label>Aflever Sted: <input type="text" th:field="*{afleveringsSted}" required></label><br>
      <label>Pris: <input type="number" step="0.01" th:field="*{pris}" required></label><br>
      <button type="submit" class="submit-button">Submit</button>
    </form>

</div>
</div>

</body>
</html>